Lesson_5/ConsoleApplication1/ConsoleApplication1/Service References/ReviewService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Wcf_Review/Service_Review/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ObjectManager.Model" />
  <xs:element name="AddReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ObjectManager.Model" minOccurs="0" name="r" nillable="true" type="q1:Review" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddReviewResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteReviewResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ObjectManager.Model" minOccurs="0" name="r" nillable="true" type="q2:Review" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ObjectManager.Model" minOccurs="0" name="UpdateReviewResult" nillable="true" type="q3:Review" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReviews">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReviewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ObjectManager.Model" minOccurs="0" name="GetAllReviewsResult" nillable="true" type="q4:ArrayOfReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ObjectManager.Model" minOccurs="0" name="GetReviewResult" nillable="true" type="q5:Review" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>